            <div class="paginationControl">
                {% if p_target.show_first %}
                    <span class="page"><a href="?page=1">1</a></span>
                    <span class="ellipsis">...</span>
                {% endif %}
                {% if p_target.has_previous %}
                    <a href="?page={{ p_target.previous_page_number }}">Previous</a>
                {% endif %}
                {% if p_total %}
                    {% for page in p_target.paginator.page_range %}
                      {% if page == p_target.number %}
                        {{ page }}
                      {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                      {% endif %}
                    {% endfor %}
                {% endif %}
                {% if p_target.has_next %}
                    <a href="?page={{ p_target.next_page_number }}">Next</a>
                {% endif %}
            </div>
