{% extends 'default/nimbus/nimbus.html' %}
{% block main %}
<div id="rightSide">
    <div class="wrapper">
        <ul class="messages">
            {% for message in messages %}
                <div class="alert-box box-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </ul>
        <form method="post" id=":fm" action="">
            <div class="widget">
                <div class="title">
                    {% if total %}
                    <span class="titleIcon">
                        <input type="checkbox" id=":chkall" name="titleCheck" class="checkall"/>
                    </span>
                    {% endif %}
                    <h6>News</h6>
                </div>
                <table class="sTable withCheck table-highlight" id=":ls">
                    <thead>
                    <tr>
                        <td><img src="{{ STATIC_URL }}nimbus/stylesheets/within/icons/tableArrows.png" alt=""/></td>
                        <td>ID</td>
                        <td>Subject</td>
                        <td>Sender</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% if total %}
                    {% for i in contacts %}
                    <tr>
                        <td><input type="checkbox" class="checkbox massaction-checkbox" value="{{ i.id }}"/></td>
                        <td>{{ i.id }}</td>
                        <td><a href="/contact/edit/{{ i.id }}">{{ i.subject}}</a></td>
                        <td>{{ i.sender}}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="100%">No records found</td>
                    </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
            <div class="_addArea">
                <a class="button greenB" href="/contact/new"><span>Add</span></a>
                <button type="submit" class="basic hidden_ele" id=":5"><span>Delete selected</span></button>
            </div>
        </form>
        {% include 'pagination/item.html' with p_target=contacts p_total=total %}
    </div>
</div>
{% endblock %}
