{% extends 'default/nimbus/nimbus.html' %}
{% block main %}
<div id="rightSide">
    <div class="wrapper">
        <form method="post" class="form" id="submitForm" enctype="multipart/form-data">
            <fieldset>
                <div class="widget">
                    <div class="title"><h6>New</h6></div>
                    <div class="formRow">
                        <label>Sender</label>

                        <div class="formRight">
                            {{ form.sender }}
                            {{ form.sender.errors }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>Subject</label>

                        <div class="formRight">
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>Message</label>

                        <div class="formRight">
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>CC myself?</label>

                        <div class="formRight">
                            {{ form.cc_myself }}
                            {{ form.cc_myself.errors }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label>File</label>

                        <div class="formRight">
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="formRow">
                        <label></label>

                        <div class="formRight">
                            <button type="submit" class="blueB" id="submitButton"><span>Save</span></button>
                            <a class="button basic" type="button" href="/contact/list"><span>Back</span></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}