{% extends "default/base.html" %}
{% block main %}
<div id="sticky-notes">
    {% for sn in note_list %}
    <div class="sticky-note">
        <textarea id="stickynote-{{ sn.id }}">{{ sn.note }}</textarea>
        <a href="#" id="remove-{{ sn.id }}" class="delete-sticky">X</a>
    </div>
    {% endfor %}
    <div id="create">+</div>
</div>
<div class="clear-both"></div>
<hr>
<footer>
    <div class="f-author">
        <p>Nguyen Thanh</p>
        <p>nguyen.ba.thanh@kloon.vn</p>
        <p>hello world</p>
    </div>
</footer>
{% endblock %}

