<div id="leftSide">
    <div class="logo"><a href="#"></a></div>
    <div class="sidebarSep mt0"></div>
    <!-- Left navigation -->
    <ul id="menu" class="nav">
        <li class="dash"><a href="" title="" class="active"><span>Home</span></a></li>
        <li><a href="#" title="" class="exp inactive"><span>Contact</span><strong>1</strong></a>
            <ul class="sub">
                <li><a href="/contact/list">List</a></li>
            </ul>
        </li>
        <li><a href="#" title="" class="exp inactive"><span>Stickynotes</span><strong>1</strong></a>
            <ul class="sub">
                <!--<li><a href="/stickynotes/list">List</a></li>-->
                <li><a href="/">App</a></li>
            </ul>
        </li>
    </ul>
    <div class="sidebarSep"></div>
    <!-- Sidebar profile -->
    <div class="sideProfile">
    	<a href="#" title="" class="profileFace"><img src="{{ STATIC_URL}}nimbus/stylesheets/within/face1.png" alt="" /></a>
        <span><strong>12345</strong></span>
        <span>Administrator</span>
        <div class="clear"></div>
        <div class="sidedd">
        	<span class="goUser">12345</span>
        	<ul class="sideDropdown">
            	<li><a href="#"><img src="{{ STATIC_URL}}nimbus/stylesheets/within/icons/topnav/profile.png" alt="" />Profile</a></li>
                <li><a href="#"><img src="{{ STATIC_URL}}nimbus/stylesheets/within/icons/topnav/settings.png" alt="" />Settings</a></li>
                <li><a href="#"><img src="{{ STATIC_URL}}nimbus/stylesheets/within/icons/topnav/logout.png" alt="" />Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="sidebarSep"></div>
    <!-- Statistics -->
    <div class="numStats">
    	<ul>
        	<li><label id="counter">202 </label><span>Visit</span></li>
            <li><label id="visitors">1 </label><span>Online</span></li>
            <li class="last"><label>6</label><span>Offline</span></li>
        </ul>
        <div class="clear"></div>
    </div>
    <div class="sidebarSep"></div>
</div>