<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}nimbus/stylesheets/main.css">
    <script type="text/javascript" src="{{ STATIC_URL }}nimbus/javascripts/all.js"></script>
    <title>Py</title>
</head>
<body>
<noscript>Please enable Browser Javascript</noscript>
    {% include 'default/nimbus/left.html' %}
    <div id="rightSide">
        {% include 'default/nimbus/top.html' %}
        {% block main%}
        {% endblock %}
	</div>
	<div class="clear"></div>
	</div>	
</body>
</html>

