        <div class="topNav">
	        <div class="wrapper">
	            <div class="welcome"><a href="#" title=""><img src="{{ STATIC_URL }}nimbus/stylesheets/within/userPic.png" alt="" /></a>
	                <span>Welcome, <strong>12345</strong></span>
	            </div>
	            <div class="userNav">
	                <ul>
	                    <li><a href="" title=""><img src="" alt="" /><span>Log Out</span></a></li>
	                </ul>
	            </div>
	            <div class="clear"></div>
	        </div>
	    </div>
