<!DOCTYPE html>
<html>
<head>
    <title>Python App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="{{ STATIC_URL }}stickynotes/StickyNotes.css" type="text/css" rel="stylesheet">
    <script src="{{ STATIC_URL }}stickynotes/custom.js" type="text/javascript"></script>
</head>
<body>
<canvas id="canvas" class="blur" width="500" height="375"></canvas>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Sticky Notes</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    {% block main %}{% endblock %}
</div>
</body>
</html>